.tracks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 12px 12px;

  .separator {
    flex: 0 0;
    position: relative;
    display: block;
    height: 1px;
    min-height: 1px;
    margin-top: -1px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: opacity .2s ease-in-out;
    opacity: 0;

    &.scrolled {
      opacity: 1;
    }
  }

  .listing {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 6px 0;
    will-change: transform;
  }

  .controls {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 12px;

    button {
      position: relative;
      display: inline-block;
      line-height: 26px;
      padding: 0 12px;
      margin-left: -1px;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      color: #efefef;
      background: #797979;
      border: 0;
      border-radius: 0;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;

      &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &:hover {
        z-index: 1;
        color: #ffffff;
        background-color: #888888;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
