.albums {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .separator {
    flex: 0 0;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
    display: block;
    height: 2px;
    min-height: 2px;
    width: calc(100% - 6px);
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    transition: opacity .2s ease-in-out;
    opacity: 0;
    will-change: opacity;

    &.scrolled {
      opacity: 1;
    }
  }

  .listing {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    overflow-y: auto;
    will-change: transform;

    &::after {
      content: '';
      flex: auto;
    }
  }
}
