$FontPath: './fonts/fonts';
@import 'fonts/fonts';

* {
  box-sizing: border-box;
}

.PlayerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  background: #333;
  color: #efefef;
  box-sizing: border-box;

  audio {
    display: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.65);
    transition: all .1s ease-in-out;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  .mainPanel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .controls {
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .library {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .manageLibrary {
      width: 200px;
      flex-shrink: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .collection {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .viewControls {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 12px 0 12px;
        margin-bottom: 12px;

        .libraryControls {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          button {
            padding: 0 6px;
            line-height: 32px;
            font-size: 12px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.6);
            color: #efefef;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
              background: rgba(255, 255, 255, 0.4);
              border-color: #fff;
              color: #ffffff;
            }

            &.spinning {
              > svg {
                animation-play-state: running;
              }
            }

            > svg {
              margin-left: 2px;
              margin-right: 4px;
              animation-name: spin;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-play-state: paused;
            }
          }
        }

        .view {
          margin-right: 12px;
          line-height: 32px;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          transition: all .2s ease-in-out;

          &:hover:not(.current) {
            border-bottom-color: rgba(255, 255, 255, 0.1);
          }

          &.current {
            border-bottom-color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .viewPanels {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow: hidden;

        .albums,
        .tracks {
          flex: 1 1 auto;
          position: relative;
          display: flex;
          height: 0;
          width: 0;
          transform: translateY(20px);
          transform-origin: top;
          transition: transform .2s ease-in-out, opacity .2s ease-in-out;
          opacity: 0;
          overflow: hidden;
          will-change: transform, opacity, height;

          &.active {
            z-index: 1;
            height: auto;
            width: auto;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  .nowPlaying {
    z-index: 1;
    position: relative;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .scanningFolder {
    position: fixed;
    left: 0;
    bottom: 100vh;
    font-size: 12px;
    padding: 0 12px;
    line-height: 24px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    &.show {
      bottom: 0;
      opacity: 1;
    }

    > a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
