$FontPath: './fonts/fonts';
@import 'fonts/fonts';

* {
  box-sizing: border-box;
}

html, body {
  background: transparent;
  -webkit-app-region: no-drag;
}

.PlayerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);

  audio {
    display: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.65);
    transition: all .1s ease-in-out;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  .titleBar {
    flex: 0;

    .buttons {
      line-height: 56px;
      padding-left: 22px;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

      .button {
        -webkit-app-region: no-drag;
        display: inline-block;
        margin-right: 16px;
        cursor: pointer;

        &:hover {
          path {
            fill: #ff8686;
          }
        }

        path {
          fill: #cccccc;
          transition: all .2s ease-in-out;
          will-change: fill;
        }
      }
    }

    .title {
      line-height: 40px;
      padding: 0 12px;
      font-size: 18px;
      color: #ff8686;
    }
  }

  .wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .mainPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
  }

  .controls {
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .library {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .manageLibrary {
      -webkit-app-region: drag;
      width: 200px;
      flex-shrink: 0;
      overflow-x: hidden;
      overflow-y: auto;
      cursor: -webkit-grab;

      &:focus {
        cursor: -webkit-grabbing;
      }
    }

    .collection {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      background-color: #333333;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }

  .nowPlaying {
    position: relative;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .scanningFolder {
    position: fixed;
    left: 0;
    bottom: 100vh;
    font-size: 12px;
    padding: 0 12px;
    line-height: 24px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    &.show {
      bottom: 0;
      opacity: 1;
    }

    > a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
