.controls {
  flex: 0 0;
  display: flex;
  flex-direction: row;
  padding: 12px 12px 24px 12px;
  background: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .controlsContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .progress {
    padding: 0 12px;
  }

  .mainControlContainer {
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .mainControlButtons {
      flex: 1 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 6px;
    }

    .mainControlButton {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-right: 6px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0.4);
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:focus {
        outline: 0;
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.2);

        path {
          fill: rgba(255, 255, 255, 0.85);
        }
      }

      path {
        fill: rgba(255, 255, 255, 0.7);
      }
    }

    .volume {
      flex: 0 0 auto;
      width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .volumeIcon {
        cursor: pointer;
        margin: 0 12px;

        path {
          fill: rgba(255, 255, 255, 0.3);
          transition: all .2s;
        }

        &:hover {
          path {
            fill: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }

  .meta {
    margin-left: 16px;
    text-align: left;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 6px;
    font-weight: 100;

    .picture {
      flex-grow: 1;
      flex-shrink: 0;
      height: 75px;
      width: 75px;
      background: transparent center center no-repeat;
      background-size: cover;
      margin-right: 12px;
      border-radius: 3px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6), inset 0 0 0px 2px rgba(0, 0, 0, 0.2);
    }

    .details {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-right: 20px;
    }

    .title {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 3px;
    }

    .artist {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }

    .album {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }

    .time {
      flex-grow: 1;
      margin-top: 3px;
    }
  }
}
