.equalizer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .header {
    -webkit-app-region: drag;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 56px;
    line-height: 56px;
    padding: 0 12px;
    font-weight: 600;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }

  .sliders {
    height: calc(100% - 56px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 0 20px;

    .slider {
      flex: 1 1 0%;
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input {
        height: 100px;
        //width: 100%;
      }

      .band {
        margin-top: 12px;
      }
    }
  }
}
