.onlineSources {
  height: 100%;
  overflow: hidden;

  .viewControls {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    .libraryControls {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        -webkit-app-region: no-drag;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.1);
        border: 0;
        color: #efefef;
        cursor: pointer;
        transition: color .2s ease-in-out, background-color .2s ease-in-out;
        border-radius: 3px;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
          color: #ffffff;
        }

        &.spinning {
          > svg {
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-play-state: running;
          }
        }

        > svg {
          margin-left: 2px;
          margin-right: 4px;
        }
      }
    }

    .view {
      -webkit-app-region: no-drag;
      margin-right: 12px;
      line-height: 32px;
      cursor: pointer;
      transition: color .2s ease-in-out;

      &:hover:not(.current) {
        color: #c78080;
      }

      &.current {
        color: #ff8686;
      }
    }
  }

  .viewPanels {
    height: calc(100% - 56px);
    overflow: hidden;
    position: relative;

    .albums,
    .tracks,
    .folders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: top;
      opacity: 0;
      transition: opacity .4s ease-in-out;
      overflow: hidden;
      will-change: opacity;
      z-index: 0;

      &.active {
        height: 100%;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
