.folderManagement {
  padding-left: 12px;

  .sectionTitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    padding: 12px 0;
  }

  .fileInput {
    display: none;
  }

  .folders {
    .folder {
      -webkit-app-region: no-drag;
      margin-bottom: 6px;
      font-size: 12px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .addItems {
      -webkit-app-region: no-drag;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
